[submodule "open62541pp"]
    path = open62541pp
    url = https://github.com/open62541pp/open62541pp.git
[submodule "Mir/External/SQLiteCpp"]
	path = Mir/External/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
[submodule "Mir/External/jsonParser"]
	path = Mir/External/jsonParser
	url = https://github.com/nlohmann/json
[submodule "Mir/External/openXLSX"]
	path = Mir/External/openXLSX
	url = https://github.com/troldal/OpenXLSX
[submodule "External/IconFontCpp"]
	path = External/IconFontCpp
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "Mir/External/IconsFontAwesome5"]
	path = Mir/External/IconsFontAwesome5
	url = https://github.com/juliettef/IconFontCppHeaders
[submodule "Mir/External/tinyxml2"]
	path = Mir/External/tinyxml2
	url = https://github.com/leethomason/tinyxml2
[submodule "Mir/External/gtest"]
	path = Mir/External/gtest
	url = https://github.com/google/googletest.git
