[submodule "Mir/External/open62541pp"]
	path = Mir/External/open62541pp
	url = https://github.com/open62541pp/open62541pp.git
[submodule "External/SQLiteCpp"]
	path = Mir/External/SQLiteCpp
	url = https://github.com/SRombauts/SQLiteCpp.git
